__pycache__/
.venv/
.idea/
.DS_Store

# licensed to ASI, not redistributed
src/harness/viewer/fonts/

src/data/cases/*/runs/
src/experiments/cache/

src/data/cases/fdb1073-2026-09-30-*/
src/data/cases/ts1987-voi1871-2026-09-17-*/
src/data/cases/ts1988-ual2219-2026-09-25-*/
src/data/cases/ts1997-tam8079-2026-09-25-*/
